body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.input-group-vertical :last-child {
  border-top-left-radius: var(--rounded-btn,.5rem);
  border-top-right-radius: var(--rounded-btn,.5rem);
  border-bottom-left-radius: var(--rounded-btn,.5rem);
  border-bottom-right-radius: var(--rounded-btn,.5rem);
  background-color: black;
  border-color: #E7AC00;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.w-full {
  width: 100%;
}

.input-lg {
  background-color: black;
  border-color: #E7AC00;
}